{% extends 'base.html' %}

{% block header %}
  <h2 class="text-danger" style="padding-top:10px;">{% block title %}Vendor{% endblock %}</h2><hr>
  {% if g.user %}
    <a class="action btn btn-success" style="font-size:medium; margin-bottom:10px; margin-top:10px;" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="card">
    <div class="card-body">
      <header>
        <div>
          <h3 class="card-title text-danger">{{ post['title'] }}</h3>
          <div class="card-subtitle text-muted">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div><hr>
        </div>

      </header>
      <p class="card-text">{{ post['body'] }}</p>
        {% if g.user['id'] == post['author_id'] %}
            <a class="action btn btn-outline-danger"  href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </div>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
